@{
    Layout = "~/views/shared/_layout.cshtml";
}@{
    
    <ul class="list-group">
        <li class="list-group-item active">operations</li>
        <li class="list-group-item">create new forum</li>
        <li class="list-group-item">edit forum permissions</li>
        <li class="list-group-item">add admin post</li>
    </ul>
 }

