@{
    Layout = "~/views/shared/_layout-3h.cshtml";
}
    <ul class="list-group">
        <li class="list-group-item active">operations</li>
        <li class="list-group-item"><a href="@Session["sURL"]/admin/nforum">create new forum</a></li>
        <li class="list-group-item"><a href="@Session["sURL"]/admin/edper">edit forum permissions</a></li>
        <li class="list-group-item"><a href="@Session["sURL"]/admin/nforum">add admin post</a></li>
    </ul>

