@model Crook.Models.LocalPasswordModel

<div class="jumbotron">
@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    if(IsPost){
        <div class="alert alert-danger">
    @Html.ValidationSummary()
        </div>
    }
  
        <ul class="list-group">
            <li class="list-group-item">
                <input type="password" class="form-control" name="OldPassword" placeholder="Current Password" />
            </li>
            <li class="list-group-item">
               <input  name="NewPassword" type="password"  class="form-control" placeholder="New Passowrd"/>
            </li>
            <li class="list-group-item">
               <input type="password" name="ConfirmPassword"  class="form-control" placeholder=" Confirm Password"/>
            </li>
            <li class="list-group-item">
                <input type="submit" value="change"  class="form-control"/>
            </li>
        </ul>
        
   
}</div>