<h1><span class="label label-success">Introduction</span></h1>
<div class="well">
    XML stands for Extensible Markup Language.<br />
    XML is not…
    <pre>
 A replacement for HTML
(but HTML can be generated from XML)
 A presentation format
(but XML can be converted into one)
 A programming language
(but it can be used with almost any language)
 A network transfer protocol
(but XML may be transferred over a network)
 A database
(but XML may be stored into a database)
        </pre>
    But then – what is it?
    <pre>
XML is a meta markup language
for text documents / textual data
XML allows to define languages
("applications") to represent text
documents / textual data
        </pre>
    Following example shows how XML markup looks, when embedded in a piece of text:<br />
    <pre>
&lt message&gt
&lt text&gt Hello, world!&lt /text&gt 
&lt/message&gt 
</pre>
This snippet includes the markup symbols, or the tags such as<br />
&lt message&gt ...&lt/message&lt text&gt ...&lt /text&lt message&gt  and<br />
&lt /message&lt text&gt <br />
and &lt /text&gt

</div>
