<h1><span class="label label-success">
Hyperlink Tag</span></h1>
<div class="well">
<pre>Hyperlink Tag

Tag: &lt a href="URL"&gt &lt /a&gt  Has closing tag) &lt /&gt  means closed.
What it does: Creates a hyperlink to another page.
Attributes:
Target=”new” This opens up a new window.
Code Example:
&lt a href=”doc.html”&gt document&lt /a&gt 
What it looks like:
Document
To create a “hotlink” email reference:
&lt a href=mailto:janiceg@projecta.com&gt janiceg@projecta.com&lt /a&gt

</pre>
    <pre>Email Tags
&lt a href=”mailto:gordon@sno-cat.com” class=”links” &gt Gordon@sno-cat.com &lt /a&gt 
Image Tags with locations
To insert an image into text area
&lt img src=”images/imagemanager/filename.gif(jpg)”alt=”Title of Image”&gt 
To place this in a left, center or right position you would:
&lt center&gt &lt img src=”images/imagemanager/filename.gif(jpg)”alt=”Title of
Image”&gt &lt /center&gt 

    </pre>
    </div>