<h1><span class="label label-success">
Bold</span></h1>
<div class="well">
<pre>Bold Tags
Tag: &lt b&gt &lt /b&gt (Has closing tag) &lt /&gt  means closed.
What it Does: Creates bold text
Code Example: &lt b&gt this is bold. &lt /b&gt 
What it looks like:
this is bold.</pre>
    </div>