<h1><span class="label label-success">
Table Tag</span></h1>
<div class="well">
<pre>Table Tags
Tag: &lt table&gt &lt /table&gt  Creates a table
Tag: &lt tr&gt &lt /tr&gt  Sets off each row in a table
Tag: &lt td&gt &lt /td&gt  Sets off Each cell in a table&gt 
Attributes:
align=left, right, center
border=x
cellpadding=x
cellspacing=x
width=
height=
How these work and look: All these tags must be closed. &lt /&gt 
&lt table border=1 cellpadding=2 cellspacing=2&gt 
&lt tr&gt 
&lt td&gt cell 1&lt /td&gt 
&lt td&gt cell 2&lt /td&gt 
&lt /tr&gt 
&lt /table&gt 
How it looks:
Cell 1 Cell 2
    </pre>
    </div>