<h1><span class="label label-success">Image Tags</span></h1>
<div class="well">
<pre>
Tag: &lt img src=”imagename.gif” alt=”description”&gt  there is no closing tag
Attributes:
alt=”description”
Align=right or left
Border=0
What it does: Inserts an image into the page. Always have an alt tag in your images. Alt tags are part of priority
one ADA compliance. The site will not be compliant without this tag.
Code Example: This is an image &lt img src=”images/arrow.gif” alt=”arrow”&gt .
What it looks like: This is an image .
1. Always use alt tags (alternative text) in images
2. Close your tags &lt /&gt
    </pre>
Note: Sometimes the code is particular about the image name being all on one line. If your
image doesn’t display properly on the page, then check for the file name being split on two
lines.
    </div>