<h1><span class="label label-success">
List Tag</span></h1>
<div class="well">
<pre>Unordered List Tags
Tag: &lt ul&gt  &lt /ul&gt  (Has closing tag) &lt /&gt  means closed.
What it Does: The UL tag lists items using bullets. Also indents your list tags.
Code Example:
&lt ul&gt This is a ul tag&lt /ul&gt 
What it looks like:
This is a ul tag.
List

</pre>

<pre>List Tags
Tag: &lt li&gt  &lt /li&gt  (Has closing tag) &lt /&gt  means closed.
What it Does: Creates a bulleted list.
Code Example:
&lt li&gt Apple &lt /li&gt 
&lt li&gt Orange&lt /li&gt 
&lt li&gt Peach&lt /li&gt 
What it looks like:
· Apple
· Orange
· Peach
 </pre>
    </div>