<h1><span class="label label-success">
PRE</span></h1>
<div class="well">
<pre>Paragraph Tags
Tag: &lt p&gt  &lt /p&gt  (Has a closing tag) &lt /&gt  means closed.
What it Does: Puts 2 breaks between lines of text.
Attributes:
Align=left, right, center
Code Example:
&lt p align=left&gt This is a paragraph tag&lt /p&gt 
&lt p align=left &gt This is a paragraph tag&lt /p&gt 
What it looks like:
This is a paragraph tag.
This is a paragraph tag.</pre>
    </div>