<h1><span class="label label-success">
HTML5 Overview  </span></h1>
<div class="well">
HTML5 is the next major revision of the HTML standard superseding HTML 4.01, XHTML 1.0, <br />
and XHTML 1.1. HTML5 is a standard for structuring and presenting content on the World Wide <br />
Web.
<br />
HTML5 is a cooperation between the World Wide Web Consortium (W3C) and the Web Hypertext<br />
 Application Technology Working Group (WHATWG).<br />

<br />
<h1><span class="label label-success">What are HTML tags?
 </span></h1>
<div class="well">
<br />
    <ul>
<li> HTML tags are used to mark-up HTML elements</li>
<li> HTML tags are surrounded by the two characters &lt and &gt</li>
<li> The surrounding characters are called angle brackets</li>
<li> HTML tags normally come in pairs like &lt b&gt and &lt/b&gt</li>
<li> The first tag in a pair is the start tag, the second tag is the end tag</li>
<li> The text between the start and end tags is the element content</li>
<li> HTML tags are not case sensitive, &lt b&gt means the same as &lt B&gt</li>
    </ul>
</div>
</div>