<h1><span class="label label-success">
Italic Tag</span></h1>
<div class="well">
<pre>Italic Tags
Tag: &lt i&gt &lt /i&gt (Has closing tag) &lt /&gt  means closed.
What it Does: Creates Italic text.
Code Example: &lt i&gt  This text is italic. &lt /i&gt 
What it looks like:
This text is italic

</pre>
    </div>