<h1><span class="label label-success">
BR</span></h1>
<div class="well">
<pre>Break Tags
Tag: &lt br&gt  (Has no closing tag)
What it Does: Puts a one line break between text.
Code Example:
This is a break tag. &lt br&gt 
This is another break tag.
What it looks like:
This is a break tag.
This is another break tag.</pre>
    </div>