
<h1>
    <span  class="label label-success">Introduction</span>
</h1><br/>
<div class="well">
Java is most popular object oriented programming language. It is almost used in every softwares.<br />
The most important java concepts are as follows.<br />
Polymorphism<br />
Inheritance<br />
Encapsulation<br />
Classes<br />
Objects<br />
We will see each in terms.<br />
<div class="well"> 
First let's see how to run a java program in a Windows system.<br/>
1)Download the latest version of Java Developement Kit(JDK) from Web and Install it.<br/>
2)You have to change the environment variable of your computer.<br/>
Follow the below steps carefully.</br>
  a)Goto start->control panel->System and Security->System.<br/>
   <img  class="im" src="~/Content/resource/java/1.jpg"/><br/>
  b)Click on Advanced System Settings. A System properties window will open.<br/>
	<img  class="im" src="~/Content/resource/java/2.jpg"/><br/>
  c)In Advanced->Click on Environment Variables.<br/>
	<img class="im" src="~/Content/resource/java/3.jpg"/><br/>
  d)In Environment Variables->System Variables find Path select it and click on Edit.<br/>
	<img class="im" src="~/Content/resource/java/4.jpg"/><br/>
  e)Goto the directory Where you installed JDK and copy its location(Path) ex: C:\jdk<br/>
  f)Now in the Path->Variable Value at the last add ";D:\jdk" (Without double quotes).<br/>
	<img class="im" src="~/Content/resource/java/5.jpg"/><br/>
3)To run any simple java program(ex: hello.java). Goto command prompt.<br/>
4)First create the class file using command->javac hello.java<br/>
5)Now run the program using command->java hello<br/>

</div>
<p style="color:darkviolet;text-decoration:wavy"> 
    Note : The names of the .java files should be same as the name of the main method class in the program.</p><br />
    After this let us see the general structure of a java program.<br /></div>
    <table class="tb">
        <tr>
            <td>Documentation Section</td></tr>
        <tr><td>Package Statements</td></tr>
        <tr><td>Import Statements</td></tr>
        <tr><td>Interface Definitions</td></tr>
        <tr><td>Class Definitions<br />Main Class Definitions </td></tr>
    </table>


<style>
    .tb
        {
           
            width:100%;
            height:500px;
        }
        .tb tr td
        {
           padding:4px;
           text-align:center;
           box-shadow:0 0 2px black;
           margin-left:4px;
           font-weight:900;
           text-shadow:0 2px 3px gray;
        }
    .im
    {
        width:80%;
        height:60%;
    }
 .head{
         background-color:dimgrey;
         color:chocolate;
         text-align:center;
        
         }
    .para
    {
        color: darkred;
        font-weight: bold;
        font-size: medium;
    }
    .prev
    {
         color: darkred;
        font-weight: bold;
        font-size: medium;
    }
</style>