<h1><span class="label label-success">Introduction</span></h1>
<script type="text/javascript">
    $(function () {
        $(".list-group.auto li").addClass("list-group-item");
    });
    </script>
<div class="well">
    XSL (eXtensible Stylesheet Language) consists of<br />
 XSL-T (Transformation)<br />
    <ul class="list-group auto">
<li> primarily designed for transforming the structure of an XML document</li>
<li> W3C Specication: http://www.w3c.org/TR/xslt
 XSL-FO (Formating Objects)</li>
<li> designed for formatting XML documents</li>
<li> W3C Specication: http://www.w3c.org/TR/xsl </li>
        </ul>


</div>