<h1><span class="label label-success">XSLT-Variables and Parameters </span></h1>
<div class="well">
    <h3><span class="label label-warning">Variables</span></h3>
    <ul>
<li> global variables - accesible throughout the whole stylesheet.</li>
<li> local variables - available only within a particular template body.</li>
<li> variable name and value defined with XSLT element &lt xsl:variable&gt , e.g.<br />
&lt xsl:variable name=''sum'' value=''0''/&gt </li>
<li> can be referenced in XPath expressions as $sum.</li>
        </ul>
<h3><span class="label label-warning">Parameters</span></h3>
    <ul>
<li> global parameters - set from outside the stylesheet, e.g. command line, API.<br />
defined with XSLT element &lt xsl:param&gt .</li>
<li> local parameters - available only within a template.<br />
defined with XSLT element &lt xsl:with-param&gt .</li>
        </ul>
</div>