<h1><span class="label label-success">XSLT Elements</span></h1>
<div class="well">
<ul>
<li> define template rules and control the way they are invoked:
&lt xsl:template&gt , &lt xsl:apply-templates&gt , &lt xsl:call-template&gt</li> 
<li> define the structure of a stylesheet: &lt xsl:stylesheet&gt , &lt xsl:include&gt , &lt xsl:import&gt</li>
<li> generate output: &lt xsl:value-of&gt , &lt xsl:element&gt , &lt xsl:attribute&gt , &lt xsl:text&gt ,<br />
&lt xsl:comment&gt , &lt xsl:processing-instruction&gt </li>
<li> define variables and parameters: &lt xsl:variable&gt , &lt xsl:param&gt , &lt xsl:with-param&gt </li>
<li> copy information from the source to the result: &lt xsl:copy&gt , &lt xsl:copy-of&gt </li>
<li> conditional processing and iteration:<br />
&lt xsl:if&gt , &lt xsl:choose&gt , &lt xsl:when&gt , &lt xsl:otherwise&gt , &lt xsl:for-each&gt </li>
<li> sort and number: &lt xsl:sort&gt , &lt xsl:number&gt</li> 
<li> control the final output format: &lt xsl:output&gt , &lt xsl:document&gt </li>
    </ul>
    </div>