<h1><span class="label label-success">Introduction</span></h1>
<script type="text/javascript">
    $(function () {
        $(".list-group.auto li").addClass("list-group-item");
    });
</script>
<div class="well">
 <pre>   What is JavaScript?
     </pre>
JavaScript is:<br /><ul class="list-group auto">
<li> JavaScript is a lightweight, interpreted programming language</li>
<li> Designed for creating network-centric applications</li>
<li> Complementary to and integrated with Java</li>
<li> Complementary to and integrated with HTML</li>
<li> Open and cross-platform</li>
    </ul>
    A JavaScript consists of JavaScript statements that are placed within the &lt script&gt... &lt script&gt<br />
     HTML tags in a web page.<br />
You can place the &lt script&gt tag containing your JavaScript anywhere within you web page but it is preferred way to keep<br />
     it within the &lt head&gt tags.<br />
The &lt script&gt tag alert the browser program to begin interpreting all the text between these tags as a script.<br />
    So simple syntax of your JavaScript will be as follows
    <pre>
        &lt script language="javascript" type="text/javascript"&gt
        //java script code
        &lt /script&gt
    </pre>
</div>
