@{
    Layout = "";
    }
<html>
    <body style="font-family:arial;text-align:center;color:white;background:#e2e0e0">
        
        <div style="width:100%">
            <fieldset style="width:70%;margin:0 auto;background:#a8a8a8;border-radius:3px;box-shadow:0 0 5px black;padding:15px">
                <legend style="background:red;padding:5px;">ERROR</legend>
                <h3>there is some problem with url do not try to change url,ulr are auto generated</h3>
            </fieldset>
        </div>
    </body>
</html>