<h1><span class="label label-success">Constnt,Variables and data types</span></h1>

<h3><span class="label label-warning">intoduction:</span></h3>
<div class="well">
A programming  lanuage is designeed to help pocess certain kinds of data consisting of numbers,characters and strings annd<br />
 provide useful output known as information.<br />


<h4> <span class="label label-warning">CHARACTER SET</span></h4>

The characters that can be used to form words,,numbers and express depend upon the computer on which the program is run.<br />
The characters in c are grouped into the following categories:<br />
<pre>
1.Letters
2.Digits
3.Special Characters
4.Whie spaces
    </pre>


<h4> <span class="label label-warning">CONSTANTS</span></h4>

constant in c refer to fixed values that do not change during the execution of a program.<br />

Types of constnts are <br />
Integer constants:<br />
An integer constant refers to squence of digits. tere are three types of integers,nmely, decimal,octal and hexadecimal integer.<br />

<h4> <span class="label label-warning">Variables</span></h4>

A variable is a data name at may be used to store  a data valluue.Unlike constants that remain unchangeed during execution of a<br />
   program, a variable y take different values <br />
 different times during execution<br />
A variable name caan be chosen by programmer in meaningful way so  astoo reflectts function nature in the program.<br />
    examples are:<br />
Average<br />
height<br />
total<br />

<h3> <span class="label label-warning">Data Types</span></h3>
C has four fundamental types of variables: <br />
  <pre>
	int  integer (PDP-11: 16 bits; H6070: 36 bits; IBM360: 32 bits) 
	char  one byte character (PDP-11, IBM360: 8 bits; H6070: 9 bits) 
	float  single-precision floating point 
	double  double-precision floating point </pre><br />

All variables in a C program must be declared, although this can sometimes be done implicitly by context.<br />
      Declarations must precede executable statements. <br />
     The declaration <br />

 <pre>    int a, b, c, sum;
 </pre>  
declares a, b, c, and sum to be integers. <br />
Variable names have one to eight characters, chosen from A-Z, a-z, 0-9, and _, and start with a non-digit. <br />
  Stylistically, it's much better to use only a single case and give functions and external variables names that are unique<br />
 in the first six characters.  (Function and external variable names are used by various assemblers, some of which are limited<br />
  in the size and case of identifiers they can handle.) Furthermore, keywords and library functions may only be recognized in <br />
    one case.<br />


<h4> <span class="label label-warning">Integer Types</span></h4>
<pre>
short int
int 
long int
</pre>
<h4> <span class="label label-warning">Floating point Types</span></h4>
Floating pointnumbers aare stored in 32 bits with 6 digits oof precision.
<pre>
float 
double
long doub
</pre>

Declaration of variables<br />
 syntax:<br />
<pre>data-type v1,v2,..vn;
    </pre>
v1,,v2..vn are the names of variabs.Variabare separated by commas;<br />


example:<br />
<pre>int count;int number,total;</pre>
    </div>