<h1><span class="label label-success">Introduction tto c programming</span></h1>
<div class="well">
C seems a strange name for a programming languuage is one of the mossssssssspopular computer languages today because it is a<br />
 structures,high-level,machine independent language.It allows software developers to develop programs without worrying about the<br />
 hardware  platforms where they will implemented.<br /><br />


sample program for printing a message<br />
    <pre>
main()
{
/*...printing begins...*/
printf("hello world");
/*..printing ends..*/
}
</pre>


Format of C programs
    <pre>
*functionn name
*start of program
*program statements
*end of program</pre>


BASIC STRUCTTURE OF C PROGRAMS
    <pre>

Documentation section
Link section
Definition section
Global Declaration section
main() Function section
{
declaration part
executable part
}
program section
Function1
Functiion 2
     -
     -
function n
        </pre>

Excuting a C program<br />
1. Cerating the program<br />
2.compiling the program<br />
3.Linking the program  with functions that areneededd from the C library and <br />
4.Executing the program.<br />
    </div>
